Repository dataengy/MyMLZoomcamp2025: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, just-fmt

ruff:
  name: ruff
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

just-fmt:
  name: just --fmt --check
  entry: just --fmt --check
  language: system
  pass_filenames: false

fix: Add uv.lock and improve doctor scripts
  notebooks/README.md
  notebooks/templates/eda_template.ipynb
  notebooks/templates/experiment_template.ipynb
  scripts/doctor/loc-01-git-sync-push.sh
  scripts/doctor/loc-02-project-health-check.sh
  uv.lock
Due: none

Add a lot..
  .ai/AGENTS.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .yamllint
  Justfile
  Makefile
  README.md
  config/config.yml
  deploy/docker-compose.yml
  docker-start.sh
  docs/README.md
  docs/api.md
  docs/data_pipeline.md
  docs/development.md
  docs/model_development.md
  notebooks/README.md
  notebooks/TROUBLESHOOTING.md
  notebooks/templates/eda_template.ipynb
  pyproject.toml
  scripts/data_tools/download_data.py
  scripts/data_tools/load_data.py
  scripts/data_tools/process_data.py
  scripts/setup.sh
  scripts/utils/Makefile-utils.sh
  scripts/utils/utils.sh
  src/config/logging.py
  src/training/evaluate.py
  tests/bash/simple_data_test.py
  tests/bash/simple_ml_test.py
  tests/test_docker_container.py
  tests/test_download_data.py
  tests/test_evaluate.py
  tests/test_training_artifacts.py
Due: ruff, ruff-format, just-fmt

Add a lot..
  pyproject.toml
Due: none

Add a lot..
  notebooks/templates/eda_template.ipynb
  scripts/data_tools/download_data.py
  scripts/data_tools/load_data.py
  scripts/data_tools/process_data.py
  src/api/main.py
  src/config/logging.py
  src/dags/definitions.py
  src/ui/streamlit_app.py
  tests/bash/simple_data_test.py
  tests/bash/simple_ml_test.py
  tests/conftest.py
  tests/test_evaluate.py
  tests/test_orchestration.py
  uv.lock
Due: ruff, ruff-format

debug: make all..
  Justfile
  Makefile
  README.md
  docs/NOTEBOOK-QUICKREF.md
  docs/README.md
  docs/api.md
  docs/development.md
  docs/make-just.md
  docs/notebook-testing.md
  pyproject.toml
  scripts/claude/README.md
  scripts/claude/install_skills.sh
  scripts/codex/Justfile
  scripts/codex/README.md
  scripts/codex/install_local_skills.sh
  scripts/doctor/run-tests-safe.py
  scripts/setup/setup.sh
  scripts/utils/_internal/log4bash.sh
  scripts/utils/_internal/log4sh.sh
  scripts/utils/log.sh
  scripts/utils/utils.sh
  tests/conftest.py
  tests/unit/test_api.py
  tests/unit/test_evaluate.py
  tests/unit/test_orchestration.py
  tests/unit/test_process_data.py
  tests/unit/test_training_artifacts.py
  uv.lock
Due: ruff, ruff-format, just-fmt

dbg..
  .yamllint
  Justfile
  Makefile
  config/linters/yamllint.yaml
  scripts/notebooks/format_notebooks.sh
  scripts/notebooks/lint_notebooks.sh
  tests/unit/test_dags_definitions.py
  tests/unit/test_streamlit_app.py
Due: ruff, ruff-format, just-fmt

save..ˆ
  config/linters/.yamllint
  tests/README.md
Due: none

save a log..
  .gitignore
  .gitmodules
  README.md
  docker-start.just
  docker-start.md
  scripts/doctor/Justfile
  tests/bash/smoke-justfiles.bats
Due: just-fmt

++ docs/PRJ-REVIEW-IMPR-PLAN.md docs/PROJECT-EVALUATION-CRITERIA.md docs/PROJECT-REVIEW.md
  .gitignore
  docs/PRJ-REVIEW-IMPR-PLAN.md
  docs/PROJECT-EVALUATION-CRITERIA.md
  docs/PROJECT-REVIEW.md
Due: none

docs: add Zoomcamp project review notes and refresh the improvement plan
  docs/PRJ-REVIEW-IMPR-PLAN.md
  docs/Zoomcamp projects review - Ревью проекта MyMLZoomcamp2025.html
  docs/Zoomcamp projects review - Ревью проекта MyMLZoomcamp2025.md
  docs/Zoomcamp projects review - Ревью проекта MyMLZoomcamp2025.webarchive
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  just-fmt: any of: (^|/)(Justfile|.*\.just)$
